
.image1{
padding-top: 66px;
padding-left: 52px;
}
.header1{
    display: inline-block;
}
li{
    display: inline-block;
    color: #8D81FF;
    font-family:FiraGO;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 87px;
}
.mya{
color: #4E6FAE;
font-family: FiraGO;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.myh3{
    color: #8D81FF;
    font-family: "BPG Nino Mkhedruli";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 52px;
    padding-top: 18px;
}
.myp{
    color: #4E6FAE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 52px;
    padding-top: 8px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.border{
width: 50px;  
height: 50px;
background: #5012D5;
color: #84FF81;
font-family: Helvetica;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 10px;
margin-left: 52px;
margin-top: 52px;
   
}
.image2{
    padding-left: 52px;
    padding-top: 12px;
}
.myp2{
 color: #4E6FAE;
font-family: "GL Kirovi";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-block;
width: 778px;
height: 353px;
padding-left: 66px;
padding-right: 97px;
vertical-align: top;
padding-top: 32px;
}
.border1{
    width: 50px;  
    height: 50px;
    background: #5012D5;
    color: #84FF81;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    margin-left: 52px;
    margin-top: 52px;
}

.myp1{
width: 778px;
height: 280px;
color: #4E6FAE;
font-family: "GL Kirovi";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 52px;
display: inline-block;
vertical-align: top;
}
.myp3{
    color: #4E6FAE;
    font-family: "GL Kirovi";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 52px;
    padding-right: 97px;
    width: 1021px;
    height: 148px;
    padding-top: 32px;
}
.mydiv{
    display: inline-block;
    padding-left: 41px;
    padding-top: 145px;
    padding-bottom: 285px;
}
.facebooklogo{
    padding-right: 41px;
}
.youtubelogo{
    padding-left: 41px
}
 
.image4{
    padding-left: 194px;
    padding-top: 97px;
 
}
.div2{
    margin-left: 194px;
    margin-top: 120px;
}
.myh5{
    color: #4E6FAE;
    font-family: FiraGO;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}
.line{
display: inline-block;
margin-left: 18px;
margin-right: 18px;
}
.myh6{
    color: #4E6FAE;
    font-family: FiraGO;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}
.container{
    width: 500px;
    height: 192px;
    background: #E7E7E7;
    margin-top: 26px;
    display: inline-block;
    margin-left: 194px;
    vertical-align: top;
}
.webpage{
    color: #3F4145;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 23px;
    padding-left: 21px;
}
.htmlimage{
padding-left: 36px;
padding-bottom: 41px;
padding-top: 26px;
}
.randomtext{
    color: #7E8898;
    font-size: 16px;
    line-height: normal;
    display: inline-block;
    width: 320px;
    height: 95px;
    padding-top: 35px;
    padding-left: 15px;
    vertical-align: top;
    font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
    
}

.container2{
    width: 500px;
    height: 192px;
    background: #E7E7E7;
    margin-top: 26px;
    display: inline-block;
    margin-left: 52px;
    
}
.webpage2{
    color: #3F4145;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 23px;
    padding-left: 21px;
}
.htmlimage2{
padding-left: 36px;
padding-bottom: 41px;
padding-top: 26px;
}
.randomtext2{
    color: #7E8898;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    width: 320px;
    height: 95px;
    padding-top: 35px;
    padding-left: 15px;
    vertical-align: top;
    
}
.mydiv7{
    margin-left: 194px;
    margin-top: 94px;
    margin-bottom: 194px;
}
.container3{
    margin-top: 93px;
    margin-left: 162px;
    display: inline-block;
    vertical-align: top;
}
.myp10{
    color: #7E8898;
    font-family: "Helvetica Neue LT GEO";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding-top: 11px;
}
.myp11{
    color: #3F4145;
    font-family: "Helvetica Neue LT GEO";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}
.myh12{
color: #4E6FAE;
font-family: "Helvetica Neue";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal
}
.googlemap{
    display: inline-block;
}
.googlesmap{
    display: inline-block;
    margin-top: 93px;
    margin-left: 172px;
}
.section1{
width: 1660px;
height: 735px;
background: #E7E7E7;
margin-top: 31px;
}



